body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.button-long {
  width:240px;
  height:40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  background-color:#429750;
  border:1px solid black;
  
}

.button:active{background-color:rgb(7, 100, 7)}
.button-long:active{background-color:rgb(7, 100, 7)}

.button{
  width:60px;
  height: 60px;
  font-size: 25px;
  background-color:#429750;
  border:1px solid black
}


@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

h1 {
  text-align: center;
  
  
}
.screen{
  border:1px solid black;
  height: 60px;
  line-height: 60px;
  font-size:20px;
  margin: auto;
  width: 240px;
  
}

.grid-container {
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 240px;
}

.grid-item {
  text-align: center;
}

