body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}








h1 {
  text-align: center;
  
  
}


.grid-container {
  
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.grid-item {
  text-align: center;
}


.button{
  width:50px;
  height:50px;
  border-radius: 20px;
  font-size: 25px;
  background-color:#F5F5F5;
  border:1px solid darkgrey;
  margin: 5px;
  box-shadow: 5px 5px 10px rgba(5, 5, 5, 0.3);
}

.button-long {
  width:240px;
  height: 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  background-color:#F5F5F5;
  border:1px solid  darkgrey;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(5, 5, 5, 0.3);
  
}

.calculator-body{
  
  text-align:center;
  padding: 25px;
  background-color: #CFD3D6;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  border-radius: 25px;
  box-shadow: 3px 3px 5px rgba(2, 2, 2, 0.2);
  


  
  border: 1px solid darkgrey;
  
  
}


.screen{
  box-shadow: inset 3px 3px 5px rgba(2, 2, 2, 0.2);
  border:1px solid darkgrey;
  height: 60px;
  line-height: 60px;
  font-size:20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: center;
  background-color: #CAE3C5;
  border-radius: 20px;
  
}

.button:active{
  
  box-shadow: none;
}
.button-long:active{
  
  box-shadow: none;
}